# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.cache

# Rider / JetBrains
.idea/

# Test
TestResults/
*.coverage
*.trx

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Docker
docker-data/

# Node modules (Grafana dashboard vs olabilir)
node_modules/

# Temporary
tmp/
temp/